<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Css/Style01.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paleta de colores</title>
</head>
<body class="f-row gap5 wrap">
    <div class="w100px h100px color1"></div>
    <div class="w100px h100px color2"></div>
    <div class="w100px h100px color3"></div>
    <div class="w100px h100px color4"></div>
    <div class="w100px h100px color5"></div>
    <div class="w100px h100px color6"></div>
    <div class="w100px h100px color7"></div>
    <div class="w100px h100px color8"></div>
    <div class="w100px h100px color9"></div>
</body>
</html>